section.auth-layout{
    @apply flex flex-col w-full h-full items-center justify-center;
    background-color: #1E1F26;
}

.auth__terms__privacy{
    @apply flex absolute;
    bottom: 32px;
    left: 50%;
    transform: translate(-50%, -50%);
    column-gap: 7px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: var(--color-grey-20);
}

.auth__main{
    @apply flex flex-col;
    width: 312px;
}

.auth__main__close{
    @apply flex justify-end;
    padding: 12px;
}

.auth__form{
    /*padding: 0 24px 24px;*/
}

.auth__form-content{
    @apply flex flex-col;
    row-gap: 14px;

}

.auth__form-content {
    margin-bottom: 40px;
}



.auth__form-content h3{
    @apply text-white;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
}

.auth__form-content p{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #C2CBD6;
}

.auth__form-socials{
    margin-bottom: 24px;
}

.auth__form-socials__google{
    @apply flex items-center w-full;
    column-gap: 16px;
    border-radius: 6px;
    padding-left: 16px;
    height: 44px;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    background: var(--color-grey-00);
}


.auth__form__divider{
    @apply flex items-center text-white uppercase;
    column-gap: 16px;
    font-weight: 400;
    font-size: 10px;
}

.auth__form__divider span:first-child, .auth__form__divider span:last-child{
    @apply w-full;
    height: 1px;
    background: var(--color-grey-20);
}

.auth__form-inputs{
    margin-top: 24px;
    @apply flex flex-col;
    row-gap: 16px;
}

.auth__form-inputs .base__input{

}

.auth__form__row{
    @apply flex;
    column-gap: 16px;
}

.auth__form__row div{
    width: calc(50% - 8px);
}

.auth__submit{
    margin-top: 24px;
    @apply flex flex-col;
    row-gap: 24px;
}

.auth__submit a{
    font-weight: 400;
    font-size: 14px;
    color: #adafbb;
}

.auth__submit p{
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #C2CBD6;
}


.auth__submit button{
    @apply bg-blue;
}

.form__footer{
    padding: 24px;
}

.form__footer p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #C2CBD6;
}

.form__footer p a{
    @apply underline;
}

/* LOGIN */


