section.canvas__layout{
    @apply flex w-full h-full;
}

.canvas__container{
    @apply grid w-full h-full;
    grid-template-columns: var(--canvas-sidebar-width) 1fr 239px;
}

.canvas__sidebar{
    height: 100vh;
    background-color: #2D3039;
}

.canvas__sidebar__container{
    @apply relative;
    background-color: #2D3039;
    padding-left: 27px;
    padding-top: 29px;
}


.canvas__workspace{
    @apply h-screen;
    grid-column: 2 / span 2;
}

.canvas__workspace__container{
    @apply flex items-center flex-col;
    padding-top: 40px;
    padding-bottom: 40px;
}

