section.canvas__layout{
    @apply flex w-full h-full;
}

.canvas__container{
    @apply grid w-full h-full;
    grid-template-columns: var(--canvas-sidebar-width) 1fr 239px;
    grid-gap: 10px;
}

.canvas__sidebar{
    height: 100vh;
    background-color: #2D3039;
}

.canvas__sidebar__container{
    @apply relative;
    background-color: #2D3039;
    padding-left: 27px;
    padding-top: 29px;
}


.canvas__workspace{
    @apply h-screen;
    /*grid-column: 2 / span 2;*/
}

.canvas__workspace__container{
    @apply flex items-center flex-col;
    padding-top: 40px;
    padding-bottom: 40px;
}


.canvas__panel{
    @apply h-full;
    background: #2D3039;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


/*CANVAS INPUT*/

.canvas__input__text{
    @apply text-white;
    background: #2D3039;
    border-radius: 4px;
    padding: 6px 8px;
    height: 28px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

input.canvas__input__text:focus{
    border: 1px solid #1873CD;
}


/*CANVAS INPUT*/

/*CANVAS TEXTAREA*/



.canvas__textarea{
    @apply text-white w-full;
    background: #454856;
    border-radius: 4px;
    height: 58px;
    padding: 8px 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.canvas__textarea:focus{
    border: 1px solid #1873CD;
}

/*CANVAS TEXTAREA*/

/*CANVAS SELECT*/

.canvas__select{
    @apply text-white w-full;
    background: #454856;
    border-radius: 4px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding: 11px 12px;
}

.canvas__select:focus{
    border: 1px solid #1873CD;
}

/*CANVAS SELECT*/