section.canvas__layout{
    @apply flex w-full h-full;
}

.canvas__container{
    @apply grid w-full;
    grid-template-columns: var(--canvas-sidebar-nav-width) 1fr 239px;
    grid-auto-rows: 1fr;
    /*grid-gap: 10px;*/
}

.canvas__container.nav__content__docked{
    grid-template-columns: calc(var(--canvas-sidebar-nav-width) + var(--canvas-sidebar-nav-content-width)) 1fr 239px;
}

.canvas__container > * {
    @apply h-full;
}

.canvas__sidebar{
    /*height: calc(100vh - var(--header-height));*/
    /*height: 100%;*/
}

.canvas__sidebar__container{
    @apply relative h-full flex;
}

.canvas__workspace{
    @apply h-screen;
    /*grid-column: 2 / span 2;*/
}

.canvas__workspace__container{
    @apply flex items-center flex-col;
    padding-top: 40px;
    padding-bottom: 40px;
}


.canvas__panel{
    @apply h-full;
    background: #2D3039;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


.canvas__panel__styles__row{
    @apply flex flex-wrap justify-between;
    row-gap: 12px;
}

.canvas__panel__styles__row .panel__style{
    width: 91.5px;
}

/*CANVAS INPUT*/

.canvas__input__text{
    @apply text-white;
    background: #2D3039;
    border-radius: 4px;
    padding: 6px 8px;
    height: 28px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

input.canvas__input__text:focus{
    border: 1px solid #1873CD;
}


/*CANVAS INPUT*/

/*CANVAS TEXTAREA*/

.canvas__textarea{
    @apply text-white w-full;
    background: #454856;
    border-radius: 4px;
    height: 58px;
    padding: 8px 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.canvas__textarea:focus{
    border: 1px solid #1873CD;
}

/*CANVAS TEXTAREA*/

/*CANVAS SELECT*/

.canvas__select{
    @apply text-white w-full;
    background: #454856;
    border-radius: 4px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding: 11px 12px;
}

.canvas__select:focus{
    border: 1px solid #1873CD;
}

/*CANVAS SELECT*/

/*CANVAS INPUT NUMBER*/

.canvas__input__number{
    @apply text-white w-full;
    background: #454856;
    border-radius: 4px;
    height: 40px;
    padding: 11px 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.canvas__input__number:focus{
    border: 1px solid #1873CD;
}
/*CANVAS INPUT NUMBER*/




/*.editable:hover {*/
/*    border: 1px solid #ADAFBB;*/
/*}*/


.workspace__component__items__list__item .hover {
    /*@apply absolute;*/
    padding: 1px 2px;
    border: 1px solid #ADAFBB !important;
}

.workspace__component__items__list__item .focus {
    padding: 1px 2px ;
    border: 2px solid #1873CD !important;
}

.hover:focus {
    /*border: 1px solid #1873CD !important;*/
}

.workspace__component__items__list__item a{
    /*pointer-events: none*/
}







