
.projects__container{
    @apply flex flex-col;
    padding-top: 24px;
}

.projects__empty{
    @apply flex flex-col justify-center items-center;
    margin-top: 85px;
}

.projects__empty h6{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E1E6ED;
    margin-bottom: 5px;
}

.projects__empty p{
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #848F9F;
}

.projects__section{
    @apply flex flex-col;
    row-gap: 30px;
}

.projects__header{
    @apply flex justify-between relative;
}

.projects__header__create{
    @apply flex items-center justify-center ;
    background: #494B57;
    border-radius: 4px;
    padding-left: 13px;
    padding-right: 13px;
    height: 36px;

}

.projects__header__create span{
    @apply text-center text-white;
    padding-left: 13px;
    padding-right: 13px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}


.projects__header__search{
    @apply flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #848F9F;
    background: #454856;
    border-radius: 6px;
    height: 36px;
}


.projects__header__search__input{
    background: #454856;
    color: #848F9F;
    border-radius: 6px;
    padding-left: 8px;
}

.projects__header__search__icon{
    @apply flex items-center justify-center;
    padding-left: 12px;
    padding-right: 12px;
}


.projects__header__search__icon svg{
    fill: #454856;
}


.projects__body{
    @apply flex flex-col;
    row-gap: 24px;
}

.projects__body__title{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #E1E6ED;
}



.projects__body__list__items{
    @apply flex flex-wrap;
    row-gap: 16px;
    column-gap: 24px;
}

.projects__body__list__item{
    @apply flex flex-col cursor-pointer relative;
    width: 180px;
    height: 131px;
    background: #454856;
    border: 1px solid #454856;
    border-radius: 6px;
}

.projects__body__item__header{
    @apply flex items-center justify-center;
    height: 81px;
}

.projects__body__item__body{
    @apply flex justify-between;
    padding: 9px;
    background: #2D3039;
    border-radius: 0 0 6px 6px;
    height: calc(131px - 81px);
}

.projects__body__item__body__content{
    @apply flex flex-col;
}

.projects__body__item__body__content h3{
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}
.projects__body__item__body__content h4{
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #848F9F;
}

.folders__body__list__items{
    @apply flex flex-wrap;
    row-gap: 16px;
    column-gap: 24px;
}

.folders__body__list__item{
    @apply flex cursor-pointer items-center relative;
    width: 180px;
    height: 48px;
    padding: 14px;
    background: #2D3039;
    border: 1px solid #454856;
    border-radius: 6px;
    column-gap: 10px;
}

.folders__body__list__item h6{
    @apply text-white;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.folders__list__item__hamburger{
    @apply ml-auto;
}

