.form-group{
    @apply flex flex-col;
    row-gap: 4px;
}

label{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #C2CBD6;
}

input.base__input::placeholder {
    color: #848F9F;
}

input.base__input, select.base__select{
    @apply w-full;
    background: #E1E6ED;
    border-radius: 4px;
    padding: 13px 16px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #353843;
}

select.base__select option:first-child{
    color: #848F9F;
}

input.base__input:focus{
    background: #EBF8FE;
    border: 2px solid #1873CD;
}

input:focus-visible{
    outline: none;
}

textarea:focus-visible{
    outline: none;
}

button.button, a.button{
    @apply text-white flex items-center justify-center cursor-pointer;
    border-radius: 4px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}

.button.button__outline{
    border: 1px solid #848F9F;
    padding: 8px;
}
.button.grey{
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
    padding: 12px 24px;
    width: 83px;
    height: 42px;
    background: var(--color-grey-30);
}

button:disabled{
    @apply pointer-events-none;
}

svg.loader{
    @apply static;
    animation: rotateAnimation 2s linear infinite;
}

button.button.success{
    background: #519E47;
    border-radius: 4px;
    padding: 9px 20px;
}

button.button.danger{
    background: #DC4437;
    border-radius: 4px;
    padding: 9px 20px;
}

button.button__text__icon{
    @apply flex items-center text-white bg-transparent;
    column-gap: 11px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding: 11px 13px 11px 16px;
}


button.button__text__icon.success{
    background: #519E47;
    border-radius: 4px;
    padding: 11px 13px 11px 16px;
}

button.button__text__icon.grey{
    background: #494B57;
    border-radius: 4px;
    padding: 9px 8px 9px 8px;

}

.input__group{
    @apply relative w-full;
}

.input__group__append{
    @apply absolute flex items-center;
    top: 0;
    bottom: 0;
    inset-inline-end: 0;
    padding-right: 17px;
}

