

.header-preview.action__dropdown{
    left: 80px;
    top: 55px;
}

.action__dropdown.open{
    @apply flex;
}

.action__dropdown{
    @apply hidden flex-col absolute z-20;
    width: 157px;
    left: 55px;
    top: 45px;
    row-gap: 18px;
    padding: 20px 10px;
    background: #454856;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.08), 0 1px 4px rgba(23, 27, 30, 0.08);
    border-radius: 8px;
}

.action__dropdown__item{
    @apply flex items-center cursor-pointer;
    column-gap: 7px;
    padding: 8px 16px;
}

.action__dropdown__item:hover{
    background-color: #353843;
}

.action__dropdown__item.disabled{
    @apply pointer-events-none;
}

.action__dropdown__item__titles{
    @apply flex-col;
}

.action__dropdown__item__icon{
    @apply flex justify-center items-center;
    width: 30px;
}

.action__dropdown__item__icon svg{
    width: 24px;
    height: 24px;
}

.action__dropdown__item__icon svg path{
    fill: #848F9F;
}

.dropdown__item__titles__name{
    @apply text-white;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.dropdown__item__titles__desc{
    color: #848F9F;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
}

.action__dropdown__item__loader{
    margin-left: 8px;
    animation: rotateAnimation 2s linear infinite;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}