@tailwind components;

@layer components {
    .header-border{
        border-width: 0 1px;
        border-style: solid;
        border-color: #2D3039;
    }
}

header.header{
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    background-color: #1E1F26;
    z-index: 1000;
}

.header__container{
    @apply flex items-center justify-between h-full;
    padding-left: 24px;
    padding-right: 13px;
}

.header__container__left{
    @apply flex items-center justify-center h-full;
    column-gap: 24px;
}

.header__logo{
    @apply flex items-center justify-start;
}

.header__home{
    @apply flex header-border h-full;
    column-gap: 12px;
    padding: 17px;
}

.header__container__middle{
    @apply flex items-center justify-center h-full header-border;
    padding: 12px;
}

.header__container__middle input{
    @apply text-white bg-transparent;
    width: 117px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.header__container__right{
    @apply flex items-center justify-center h-full;
    column-gap: 14px;
}

.header__redo{
    @apply flex items-center header-border h-full;
    column-gap: 8px;
    padding: 8px;
}

.header__redo button{
    padding: 11px;
}