@tailwind components;

@layer components {
    .header-border{
        border-width: 0 1px;
        border-style: solid;
        border-color: #2D3039;
    }
}

header.header{
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    background-color: #1E1F26;
    z-index: 1000;
}

.header__container{
    @apply flex items-center justify-between h-full;
    padding-left: 24px;
    padding-right: 24px;
}

.header__container__left{
    @apply flex items-center  h-full;
    column-gap: 24px;
    /*width: 33%;*/
    width: 324px;
}

.header__logo{
    @apply flex items-center justify-start;
}

.header__home{
    @apply flex header-border h-full;
    column-gap: 12px;
    padding: 17px;
}

.header__container__middle{
    @apply h-full w-full flex items-center justify-center;
}

.header__middle__input__container{
    @apply flex items-center justify-center h-full header-border;
    width: 169px;
    padding: 12px;
    column-gap: 16px;
}

.header__middle__input__container input{
    @apply text-white bg-transparent;
    font-weight: 500;
    width: 105px;
    font-size: 14px;
    line-height: 18px;
}

.header__middle__preview{
    @apply flex items-center justify-center h-full;
}

.header__middle__preview button{
    background: var(--color-grey-40);
    color: var(--color-grey-20);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    height: 32px;
    column-gap: 8px;
}

.header__middle__preview button.active{
    background: var(--color-grey-30);
    color: var(--color-grey-00);
    font-weight: 500;
}
.header__middle__preview button.active svg path {
    @apply fill-white;
}

.header__middle__preview button:first-child{
    border-radius: 4px 0 0 4px;
}

.header__middle__preview button svg{
    width: 16px;
    height: 16px;
}

.header__middle__preview button:nth-child(2){
    border-radius: 0 4px 4px 0;
}

.header__container__right{
    @apply relative flex justify-end;
    /*width: 33%;*/
    width: 425px;
}

.header__right__canvas__actions{
    @apply flex items-center justify-center h-full;
    column-gap: 14px;
}

.header__redo{
    @apply flex items-center header-border h-full;
    column-gap: 8px;
    padding: 8px;
}

.header__redo button{
    padding: 11px;
}

.header__right__preview{
}

.header__right__preview button{
    border-radius: 4px;
    background: #454856;
}

.header__right__initials{
    @apply text-white flex items-center justify-center cursor-pointer relative;
    width: 32px;
    height: 32px;
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    border-radius: 100%;
    background-color: var(--color-brand-green);
}

.header__right__preview button svg path {
    fill: #848F9F;
}

.header__right__canvas__actions .header__right__share{
    height: 100%;
    padding: 11px 12px;
    font-size: 14px;
    font-weight: 400;
}

