header.header{
    /*position: fixed;*/
    top: 0;
    left: 0;
    height: 64px;
    width: 100%;
    background-color: #1E1F26;
    z-index: 1000;
}

.header__container{
    display: grid;
    grid-template-columns: 124px repeat(3, 1fr) 165px;
    padding-left: 50px;
    padding-right: 29px;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.header__logo{
    @apply flex items-center justify-start;
}


.projects-add-buttons{
    @apply flex justify-start items-center;
    column-gap: 16px;
}


.project-title{
    @apply flex items-center;
    /* justify-content: center; */
    column-gap: 24px;
}

.project-title button{
    background-color: #454856;
}

.project-details{
    @apply flex flex-col justify-center;
    row-gap: 3px;
}

.canvas-actions{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 16px;

}

.canvas-actions .preview__action {
}

.canvas-actions .export__action{
    /* width: 109px; */
}

.canvas-actions .library__action{
    background-color: #454856;
}

.header__icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;
}


.header__dropdown{
    display: flex;
    justify-content:center;
    align-items: center;
}

.header__dropdown .header__initials{

    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #519E47;
    border-radius: 50%;
    color: white;
    width: 34px;
    height: 32px;
    text-align: center;
}

.header__dropdown .dropdown__img{
    width: 35px;
}