.component__items__list__item.sm {
    /* header */
    .pc-sm-p-30 {
        padding: 30px !important
    }

    .pc-sm-p-30-25 {
        padding: 30px 25px !important
    }

    .pc-sm-p-25 {
        padding: 25px !important
    }

    .pc-sm-mw-100pc {
        max-width: 100% !important
    }

    .pc-sm-m-0-auto {
        margin: 0 auto !important
    }

    .pc-sm-ta-center {
        text-align: center !important
    }

    .pc-sm-w-100pc {
        width: 100% !important
    }

    .pc-sm-p-25-15 {
        padding: 25px 15px !important
    }

    .pc-sm-p-18-30 {
        padding: 18px 30px !important
    }

    .pc-sm-p-25-20 {
        padding: 25px 20px !important
    }

    /* banner */

    .pc-sm-p-24-20-30 {
        padding: 24px 20px 30px !important
    }

    .pc-sm-mw-100pc {
        max-width: 100% !important
    }

    .pc-sm-ta-center {
        text-align: center !important
    }

    .pc-sm-p-34-30-55 {
        padding: 34px 30px 55px !important
    }

    .pc-sm-h-53 {
        height: 53px !important
    }

    .pc-sm-p-20-25-35 {
        padding: 20px 25px 35px !important
    }

    .pc-sm-w-100pc {
        width: 100% !important
    }

    .pc-sm-p-20-20-25 {
        padding: 20px 20px 25px !important
    }

    .pc-sm-p-29-16-26 {
        padding: 29px 16px 26px !important
    }

    .pc-sm-m-0-auto {
        margin: 0 auto !important
    }

    /* content info */

    .pc-sm-p-35-10-15 {
        padding: 35px 10px 15px !important
    }

    .pc-sm-p-25-10-15 {
        padding: 25px 10px 15px !important
    }

    .pc-sm-mw-100pc {
        max-width: 100% !important
    }

    .pc-sm-p-15-10 {
        padding: 15px 10px !important
    }

    .pc-sm-mw-50pc {
        max-width: 50% !important
    }

    .pc-sm-p-25-30-35 {
        padding: 25px 30px 35px !important
    }

    .pc-sm-m-0-auto {
        float: none !important;
        margin: 0 auto !important
    }

    .pc-sm-p-25-10-30 {
        padding: 25px 10px 30px !important
    }

    .pc-sm-p-10-0 {
        padding: 10px 0 !important
    }

    .pc-sm-ta-center {
        text-align: center !important
    }

    .pc-sm-p-20-20-0 {
        padding: 20px 20px 0 !important
    }

    .pc-sm-p-16-20-20 {
        padding: 16px 20px 20px !important
    }

    .pc-post-s2.pc-m-invert {
        direction: ltr !important
    }

    .pc-sm-p-35-30 {
        padding: 35px 30px !important
    }

    /* features */

    .pc-sm-p-35-10-15 {
        padding: 35px 10px 15px !important
    }

    .pc-sm-mw-50pc {
        max-width: 50% !important
    }

    .pc-sm-dir-ltr {
        direction: ltr !important
    }

    .pc-sm-p-35-10-25 {
        padding: 35px 10px 25px !important
    }

    .pc-sm-p-35-10-30 {
        padding: 35px 10px 30px !important
    }

    .pc-sm-p-40-30 {
        padding: 40px 30px !important
    }

    /* cta */

    .pc-sm-p-35-30 {
        padding: 35px 30px !important
    }

    .pc-sm-p-35-30-76 {
        padding: 35px 30px 76px !important
    }

    .pc-sm-p-35-30-30 {
        padding: 35px 30px 30px !important
    }

    .pc-sm-p-35-25-30 {
        padding: 35px 25px 30px !important
    }

    .pc-sm-p-35-30-0 {
        padding: 35px 30px 0 !important
    }

    /* footer */

    .pc-sm-p-21-10-14 {
        padding: 21px 10px 14px !important
    }

    .pc-sm-h-20 {
        height: 20px !important
    }

    .pc-sm-mw-100pc {
        max-width: 100% !important
    }

    .pc-sm-p-31-20 {
        padding: 31px 20px !important
    }

    .pc-sm-w-100pc {
        width: 100% !important
    }

    .pc-sm-ta-center {
        text-align: center !important
    }

    .pc-sm-p-31-20-39 {
        padding: 31px 20px 39px !important
    }

    .pc-sm-p-38-30-40 {
        padding: 38px 30px 40px !important
    }

    /* transaction */

    .pc-sm-p-30-20 {
        padding: 30px 20px !important
    }

    .pc-sm-fs-30 {
        font-size: 30px !important
    }

    .pc-sm-fs-18 {
        font-size: 18px !important
    }

    .pc-sm-p-30-20-25 {
        padding: 30px 20px 25px !important
    }

    .pc-sm-p-10-15 {
        padding: 10px 15px !important
    }

    .pc-sm-fs-36 {
        font-size: 36px !important
    }

    .pc-sm-fs-16 {
        font-size: 16px !important
    }

    .pc-sm-p-30 {
        padding: 30px !important
    }

    .pc-sm-p-30-10 {
        padding: 30px 10px !important
    }

    .pc-sm-mw-100pc {
        max-width: 100% !important;
        min-width: 100% !important
    }

    .pc-sm-fs-20 {
        font-size: 20px !important
    }

    /*ecommerce */

    .pc-sm-p-30-30-40 {
        padding: 30px 30px 40px !important
    }

    .pc-sm-mw-100pc {
        max-width: 100% !important
    }

    .pc-sm-m-0-auto {
        float: none !important;
        margin: auto !important
    }

    .pc-sm-p-30-25 {
        padding: 30px 25px !important
    }

    .pc-sm-p-30-10 {
        padding: 30px 10px !important
    }

    .pc-sm-dir-ltr {
        direction: ltr !important
    }

    .pc-sm-p-30-10-20 {
        padding: 30px 10px 20px !important
    }

    .pc-sm-mw-50pc {
        max-width: 50% !important
    }
}
