.layers__component__items{
    margin-top: 4px;
    @apply flex flex-col h-full overflow-x-auto;
    row-gap: 5px;
}

.layers__component__item__header{
    @apply flex items-center cursor-pointer;
    /*column-gap: 5px;*/
    padding-top: 8px;
    padding-bottom: 8px;
}

.layers__component__item__header__move{
    @apply flex items-center justify-center;
    width: 24px;
    height: 24px;
}
.layers__component__item__header__move button{
    @apply flex items-center justify-center;
}
.layers__component__item__header__replace{
    @apply flex items-center justify-center;
}

.layers__component__item__header__switch{
    @apply flex items-center justify-center;
    width: 15px;
    height: 15px;
}

.layers__component__item__header.hover, .layers__component__item__element.hover{
  background-color: #353843;
}

.layers__component__item__header.focus, .layers__component__item__element.focus{
    background-color: #494B57;
}

.layers__component__item__header:hover svg path{
    fill: white;
}

.layers__component__item__header h5{
    padding-left: 5px;
}

.layers__component__items h5{
    @apply text-white capitalize;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
}


.layers__component__item__elements{
    @apply flex flex-col;
}

.layers__component__item__element{
    @apply flex items-center cursor-pointer;
    column-gap: 6px;
    padding: 8px 40px 8px 53px;
}

.layers__component__item__element:hover svg path, .layers__component__item__element.active svg path{
    fill: white;
}

