.canvas__panel__tabs{
    @apply flex flex-col;
}

.panel__tab{
    @apply flex flex-col;
}

.panel__tab__head{
    @apply flex justify-between;
    padding: 16px;
    background-color: #353843;
    border: 1px solid #1E1F26;
}

.panel__tab__head h5{
    @apply text-white;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
}

.panel__tab__body{
    padding: 24px;

}

.canvas__panel__styles{
    @apply flex flex-col;
    row-gap: 24px;
}

.panel__style{
    @apply flex flex-col;
    row-gap: 6px;
}

.panel__style__head h5{
    @apply uppercase;
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.04em;
    color: #848F9F;
}

.border__radius__style{
    @apply flex items-center justify-between;
    background-color: #454856;
    border-radius: 4px 4px 4px 4px;
    padding-left: 12px;
    padding-right: 11px;
    height: 40px;
}

.border__radius__style__icon{
    width: 16px;
    height: 16px;
    border-left: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    border-top-left-radius: 8px;
}



/*SPACING*/

.spacing__style{

}

.spacing__style__tab__item{
    @apply flex flex-col justify-between;
    height: 128px;
    background: #454856;
    border-radius: 4px;
    padding: 12px;
}

.spacing__style__description{
    margin-top: 12px;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.04em;
    color: #848F9F;
}

.spacing__style__outer__rect{
    @apply flex flex-col;
    border: 1px dotted #1873CD;
}

.spacing__style__outer__rect__common{
    @apply flex items-center justify-center;
    height: 24px;
}

.spacing__style__outer__rect div span{
    @apply uppercase;
    font-weight: 500;
    font-size: 9px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ADAFBB;
}

.spacing__style__outer__rect__mid{
    @apply grid;
    grid-template-columns: 20px 1fr 20px;
    height: 24px;
}

.spacing__style__outer__rect__mid div{
    @apply flex items-center justify-center;
}

.spacing__style__inner__rect{
    background: #1873CD;
}

/*SHADOW STYLE*/

.shadow__style__tab__item{
    @apply flex flex-col;
    row-gap: 10px;
    padding: 12px;
    background: #454856;
    border-radius: 4px;
}
/*SHADOW STYLE*/


/*COLOR STYLE*/
.color__style{
    @apply relative;
}

.color__style__container{
    @apply flex items-center justify-between;
    height: 40px;
    padding: 11px 12px;
    background: #454856;
    border-radius: 4px 4px 4px 4px;
}

.color__style__container h5{
    @apply text-white;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.color__style__container .selected__color{
    width: 18px;
    height: 18px;
    border-radius: 2px;
}
/*COLOR STYLE*/

/*CONTENT STYLE*/

.content__style{
    @apply flex w-full;
}

/*CONTENT STYLE*/

/*FONT STYLE*/
.font__size__style{
    @apply flex w-full;
}




/*FONT STYLE*/

/*TEXT ALIGN STYLE*/


.align__style{
    @apply flex justify-between;
}

.align__style .active path{
    fill: white;
}


/*TEXT ALIGN STYLE*/
