.canvas__panel{

}

.canvas__panel__empty{
    @apply flex flex-col items-center;
    row-gap: 10px;
    width: 191px;
    height: 103px;
    background: #353843;
    border-radius: 4px;
    margin: 24px;
    padding: 16px;
}

.canvas__panel__empty{
    @apply text-white;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.04em;
}
.canvas__panel__tabs{
    @apply flex flex-col;
}

.panel__tab{
    @apply flex flex-col;
}

.panel__tab__head{
    @apply flex justify-between cursor-pointer;
    padding: 16px;
    background-color: #353843;
    border: 1px solid #1E1F26;
}

.panel__tab__head h5{
    @apply text-white;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
}

.panel__tab__body{
    padding: 24px;
    @apply flex flex-col;
    row-gap: 24px;
}

.canvas__panel__singleton__styles{
    padding: 24px;
    @apply flex flex-col;
    row-gap: 24px;
}

.panel__style{
    @apply flex flex-col;
    row-gap: 6px;
}

.panel__style__head h5{
    @apply uppercase;
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.04em;
    color: #848F9F;
}

.border__radius__style{
    @apply flex items-center justify-between;
    background-color: #454856;
    border-radius: 4px 4px 4px 4px;
    padding-left: 12px;
    padding-right: 11px;
    height: 40px;
}

.border__radius__style__icon{
    width: 16px;
    height: 16px;
    border-left: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    border-top-left-radius: 8px;
}



/*SPACING*/

.spacing__style{

}

.spacing__style__tab__item{
    @apply flex flex-col justify-between;
    height: 128px;
    background: #454856;
    border-radius: 4px;
    padding: 12px;
}

.spacing__style__description{
    margin-top: 12px;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.04em;
    color: #848F9F;
}

.spacing__style__outer__rect{
    @apply grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 24px 24px 24px;
    border: 1px dotted #1873CD;
}

.spacing__style__inner__rect{
    @apply flex justify-center items-center cursor-pointer;
}

.spacing__style__inner__rect.top{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.spacing__style__inner__rect.left{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.spacing__style__inner__rect.right{
    grid-column: 3 / 4;
    grid-row: 1 / 4;
}

.spacing__style__inner__rect.center{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.spacing__style__inner__rect.bottom{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.spacing__style__inner__rect.active{
    background: #1873CD;
}

.spacing__style__inner__rect:hover{
    background: #1873CD;
}

.spacing__style__outer__rect div span{
    @apply uppercase;
    font-weight: 500;
    font-size: 9px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #848F9F;
}

/*SHADOW STYLE*/

.shadow__style__tab__item{
    @apply flex flex-col;
    row-gap: 10px;
    padding: 12px;
    background: #454856;
    border-radius: 4px;
}

.shadow__style__tab__item .color__style__container{
    @apply justify-start;
    padding: 5px 0 0 0;
    height: 20px;
}

.shadow__style__tab__item .color__style__container h5{
    @apply capitalize;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.shadow__style__tab__item .vc-sketch{
    top: 40px;
    left: -64px;
}

/*SHADOW STYLE*/


/*COLOR STYLE*/
.color__style{
    @apply relative;
}

.color__style__container{
    @apply grid;
    grid-template-columns: 45px 1fr 40px;
    height: 40px;
    padding: 11px 12px;
    background: #454856;
    border-radius: 4px 4px 4px 4px;
}

.color__style__container h5{
    @apply text-white uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}


.color__style__container .selected__color{
    @apply justify-self-end;
    width: 18px;
    height: 18px;
    border-radius: 2px;
}
/*COLOR STYLE*/

/*CONTENT STYLE*/

.content__style{
    @apply flex w-full;
}

.input__style__text{
    @apply text-white w-full;
    background: #454856;
    border-radius: 4px;
    height: 40px;
    padding: 8px 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
.content__style__input__group .input__style__text.invalid{
    border: 1px solid #EC9B40;
}
.input__style__text.not_focused{
    border: none;
}
.input__style__text.focus{
    border: 1px solid #1873CD;
}

.input__style__text:focus{
    border: 1px solid #1873CD;
}


/*CONTENT STYLE*/

/*FONT STYLE*/
.font__size__style{
    @apply flex w-full;
}


/*FONT STYLE*/

/*TEXT ALIGN STYLE*/


.align__style{
    @apply flex justify-between;
}

.align__style .active path{
    fill: white;
}


/*TEXT ALIGN STYLE*/


/*MEDIA IMAGE*/

.content__style__media__upload{
    @apply flex justify-between items-center w-full text-white cursor-pointer;
    padding: 8px;
    height: 40px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    background: #454856;
    border-radius: 4px;
}

.content__style__media__upload.disabled{
    @apply pointer-events-none;
}

 .content__media__add__image{
    padding-left: 4px;
}

.content__style__media__upload__has__img{
    @apply flex items-center;
    column-gap: 8px;
}

.content__media__upload__container{
    @apply flex items-center justify-center;
    width:  32px;
    height: 24px;
    background-color: #1E1F2680;
    border-radius: 2px;
    border: 1px solid #2D3039;
}

.content__media__upload__container svg{
    width: 20px;
    height: 20px;
}

.content__style__media__upload__has__img img{
    width:  32px;
    height: 24px;
    border-radius: 2px;
    border: 1px solid #2D3039;
}

.content__style__media__text{
    @apply flex flex-col w-full;
    row-gap: 5px;
}

.content__style__input__group{
    @apply flex justify-between items-center w-full;
}

.content__style__media__text p{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.content__style__media__text p.invalid{
    color: #EC9B40;
}

.content__style__media__text button{
    border-radius: 0;
    background: transparent;
}


/*MEDIA IMAGE*/