
:root{
    --sidebar-nav-content-header-height: 40px;
}

nav.canvas__sidebar__nav{
    @apply fixed flex flex-col justify-between items-center;
    width: var(--canvas-sidebar-nav-width);
    background-color: #1E1F26;
    padding-top: 4px;
    padding-bottom: 16px;
    height: calc(100vh - var(--header-height));
}

.sidebar__nav__top, .sidebar__nav__bottom{
    @apply flex flex-col items-center;
}

.sidebar__nav__top{
    row-gap: 4px;
}

.sidebar__nav__bottom{
    row-gap: 10px;
}

.canvas__sidebar__nav .button__icon{
    background-color: transparent;
}

.canvas__sidebar__nav .button__icon:hover, .canvas__sidebar__nav .button__icon.active{
    background: #2D3039;
    border-radius: 4px;
}

.sidebar__nav__bottom__initials{
    @apply text-white uppercase rounded-full flex items-center justify-center;
    background: #519E47;
    width: 32px;
    height: 32px;
    font-weight: 500;
    font-size: 10.9801px;
    line-height: 14px;
}

/*SIDEBAR NAV CONTENT*/

.canvas__sidebar__nav__content{
    @apply flex flex-col absolute  ;
    width: var(--canvas-sidebar-nav-content-width);
    background: #2D3039;
    /*height: 100vh;*/
    height: 100%;
    left: var(--canvas-sidebar-nav-width);
}

.sidebar__nav__contents__header{
    @apply fixed flex justify-between items-center;
    height: var(--sidebar-nav-content-header-height);
    width: var(--canvas-sidebar-nav-content-width);
    padding: 11px 0 11px 12px;
    border-bottom: 1px solid #1E1F26;
    z-index: 150;
    background: #2D3039;
}

.sidebar__nav__contents__header h4{
    @apply text-white;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.04em;
}

.sidebar__nav__contents__header__icons{
    @apply flex;
}

.sidebar__nav__contents__body{
    @apply fixed overflow-y-auto h-full;
    padding-top: var(--sidebar-nav-content-header-height);
    width: var(--canvas-sidebar-nav-content-width);
    z-index: 100;
}

.sidebar__nav__contents__header__icons .button__icon{
    background-color: transparent;
    width: 35px;
    height: 35px;
}

.content__sidebar__dock__button.active svg path{
    fill: white;
}

/*SIDEBAR NAV CONTENT*/


div.components__container{
    @apply grid;
    row-gap: 31px;
    padding-top: 24px;
    padding-left: 24px;
}

.components__title{
    @apply uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 26px;
    color: #848F9F;
    padding-left: 13px;
}

.components__list{
    @apply grid;
    grid-auto-rows: 48px;
    row-gap: 4px;
    align-content: center;
}

.component__list-item{

}

.component__list-link{
    @apply flex items-center h-full w-full text-white;
    padding-left: 13px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.component__list-item .active, .component__list-item .component__list-link:hover {
    background-color: #494B57;
    border-radius: 4px 0 0 4px;
}

.component__items__container{
    @apply grid fixed h-full;
    row-gap: 20px;
    padding: 30px 30px 100px 30px;
    top: var(--header-height);
    left: calc(var(--canvas-sidebar-nav-width) + var(--canvas-sidebar-nav-content-width));
    /* width: 393px; */
    width: 520px;
    background: #494B57;
    box-shadow: 30px 0 72px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow: auto;
}

.component__items__container.hide{
    @apply hidden;
}




.component__items__list__item{
    @apply cursor-pointer;
}

/*.component__items__container.disabled .component__items__list__item{*/
/*    @apply  pointer-events-none;*/
/*}*/

.component__items__list__item.disabled{
    @apply  pointer-events-none;
}
