/*@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');*/


.canvas__workspace__skeleton__container{
    @apply h-full w-full flex justify-center;
}

.canvas__workspace__skeleton{
    @apply text-center flex flex-col items-center ;
    margin-top: 72px;
    width: 365px;
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    color: var(--color-grey-40);
    row-gap: 16px;
}

.canvas__workspace__skeleton__items{
    @apply flex flex-col w-full;
    row-gap: 18px;
}

.canvas__workspace__skeleton__items div:first-child{
    background: var(--color-grey-10);
    border-radius: 8px;
    height: 94px;
}

.canvas__workspace__skeleton__items div:nth-child(2){
    background: var(--color-grey-10);
    border-radius: 8px;
    height: 54px;
}


.canvas__workspace__empty__container{
    @apply h-full w-full flex justify-center;
    /*background-color: chartreuse;*/
}

.canvas__workspace__empty{
    @apply text-center flex flex-col items-center justify-center;
    margin-top: 117px;
    height: 127px;
    width: 362px;
    row-gap: 24px;
}

.canvas__workspace__empty p{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #353843;
}

.canvas__workspace__empty p span{
    /*font-size: 24px;*/
    font-weight: bold;
}

.canvas__workspace__empty button{
    @apply flex items-center justify-center rounded-full;
    background: #1873CD;
    width: 48px;
    height: 48px;
}

.canvas__workspace__empty button svg{
    height: 20px;
    width: 20px;
}

.workspace__component__items__container{
    @apply flex flex-col items-center h-full;
    width: 600px;
    /*height: 100vh;*/
}

.canvas__container.preview.mobile .workspace__component__items__container{
    width: 367px;
}

.workspace__component__items__container.cards{
    row-gap: 20px;
}

.workspace__component__items__list{
    @apply w-full relative;
}

.workspace__component__items__list__item {
    @apply cursor-pointer w-full relative;
}

.workspace__component__items__list__item.decoy{
    height: 40px;
}

.workspace__component__drop__indicator{
    @apply relative  flex items-center justify-center w-full;
    z-index: 20;
    height: 2px;
    background-color: #1873CD;
    /*margin-top: -10px;*/
}

/*
  Disable pointer events on child elements that have a parent attribute
  This prevents child elements from intercepting drag events that should
  be handled by their parent block element instead
  */

[block] > *[parent] {
    pointer-events: none !important;
}

.workspace__element__drop__indicator {
    height: 2px;
    background-color: #5c9919;
    /*margin: 4px 0;*/
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
.workspace__element__drop__indicator span {
    display: inline-block;
}

.workspace__element__drop__indicator{
    @apply relative  flex items-center justify-center w-full;
    z-index: 20;
    height: 2px;
    background-color: #38444f;
    /*margin-top: -10px;*/
}

.workspace__component__drop__indicator.cards{
    @apply absolute;
    margin-top: -10px;
}

.workspace__component__drop__indicator svg{
}

.workspace__component__drop__skeleton{
    @apply  flex items-center justify-center w-full;
    height: 69px;
    border: 1px dashed rgba(132, 143, 159, 0.50);
    background: #F6F6F6;
}

.workspace__component__drop__skeleton.cards{
    border-radius: 8px;
    margin-bottom: 15px;
}

.workspace__component__drop__skeleton svg {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.workspace__component__drop__indicator span{
    @apply flex items-center justify-center;
    height: 16px;
    width: 16px;
    border-radius: 40px;
    background-color: #1873CD;
}

.workspace__component__item__actions{
    @apply flex flex-col absolute;
    row-gap: 8px;
    top: 0;
    right: -44px;
}

.workspace__component__item__actions div{
    @apply bg-white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.workspace__component__item__actions button{
    @apply flex items-center justify-center bg-white;
    width: 36px;
    height: 36px;
}
.workspace__component__item__actions button.copy svg path{
    fill: white;
}

.workspace__component__item__actions button:disabled{
    fill-opacity: 0.5;
}



/**/
/* Element Controls - Border around selected element */
.element-controls {
    position: absolute;
    outline: 2px solid #1873CD;
    /*border: 2px solid red;*/
    z-index: 10;
    box-sizing: border-box;
    pointer-events: none;
    transition: all 0.2s ease;
}


.element-controls__actions{
    @apply absolute flex items-center justify-center;
    top: -28px;
    left: 0;
    z-index: 30;
    background-color: #1873CD;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    height: 24px;
    border-radius: 4px;
    padding: 2px;
}

.element-controls__actions button{
    @apply flex items-center justify-center;
    width: 20px;
    height: 20px;
    z-index: 20;
    pointer-events: auto;
}

.element-controls__actions button:hover{
    background-color: #0A61B9;
}
.element-controls__actions button:first-child {
    cursor: grab;
}


/* Global styles for dragging state */
:global(.dragging) {
    transition: opacity 0.2s ease;
}
/**/