/*@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');*/
.canvas__workspace__empty{
    @apply text-center flex flex-col items-center;
    margin-top: 117px;
    width: 362px;
    row-gap: 24px;
}

.canvas__workspace__empty p{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #353843;
}

.canvas__workspace__empty p span{
    /*font-size: 24px;*/
    font-weight: bold;
}

.canvas__workspace__empty button{
    @apply flex items-center justify-center rounded-full;
    background: #1873CD;
    width: 48px;
    height: 48px;
}

.canvas__workspace__empty button svg{
    height: 20px;
    width: 20px;
}

.workspace__component__items__container{
    @apply flex flex-col items-center;
    width: 600px;
    /*height: 100vh;*/
}

.canvas__container.preview.mobile .workspace__component__items__container{
    width: 367px;
}

.workspace__component__items__container.cards{
    row-gap: 20px;
}

.workspace__component__items__list{
    @apply w-full relative;
}

.workspace__component__items__list__item {
    @apply cursor-pointer w-full;
}

.workspace__component__drop__indicator{
    @apply  flex items-center justify-center w-full;
    height: 2px;
    background-color: #1873CD;
    top: -10px;
}

.workspace__component__drop__indicator.cards{
    @apply absolute;
}

.workspace__component__drop__loading{
    @apply  flex items-center justify-center w-full;
    height: 69px;
    border: 1px dashed rgba(132, 143, 159, 0.50);
}

.workspace__component__drop__loading.cards{
    border-radius: 8px;
    margin-bottom: 15px;
}

.workspace__component__drop__loading svg {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.workspace__component__drop__indicator span{
    @apply flex items-center justify-center;
    height: 16px;
    width: 16px;
    border-radius: 40px;
    background-color: #1873CD;
}

.workspace__component__item__actions{
    @apply flex flex-col absolute;
    row-gap: 8px;
    top: 0;
    right: -44px;
}

.workspace__component__item__actions div{
    @apply bg-white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.workspace__component__item__actions button{
    @apply flex items-center justify-center bg-white;
    width: 36px;
    height: 36px;
}
.workspace__component__item__actions button.copy svg path{
    fill: white;
}

.workspace__component__item__actions button:disabled{
    fill-opacity: 0.5;
}